body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  }

  #loading{
    margin: auto;
    width: 200px;
    height: 100vh;
  }

  #loading img{
    width: 100%;
    height: 100%;
  }
  #loading, #main-body{
      display: none;
  }

  #loading.show, #main-body.show{
      display: block;
  }


.d-flex{
    display: flex;
}

.align-center{
    align-items: center !important;
}

.justify-between{
    justify-content: space-between;
}


.justify-even{
    justify-content: space-evenly;
}


.justify-center{
    justify-content: center;
}